*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/Demo01/nbproject/private/
/Sem01/Demo01/build/
/JSP01/nbproject/private/
/JSP01/build/
/Sem02/JSP01/build/
/Sem02/JSP01/nbproject/private/
/CalcApp/nbproject/private/
/CalcApp/build/
/CalcApp/dist/
/Sem03/CalcApp2-Service/build/
/Sem03/CalcApp2-Service/dist/
/Sem03/CalcApp2-Service/nbproject/private/
/Sem03/PromApp/nbproject/private/
/Sem03/PromApp/build/
/AppMate/nbproject/private/
/Sem04/AppMate/nbproject/private/
/Sem04/AppMate/build/
/Sem05/JSTL01/nbproject/private/
/Sem05/JSTL01/build/
/Sem05/SolPract01/nbproject/private/
/Sem05/SolPract01/build/
/Sem06/DemoSesiones/nbproject/private/
/Sem06/DemoSesiones/build/
/Sem06/DemoSesiones/dist/
/Sem07/Proyecto02_Coronel/nbproject/private/
/Sem07/Proyecto01_Coronel/nbproject/private/
/Sem07/Proyecto01_Coronel/build/
/Sem07/Proyecto02_Coronel/build/
/Sem08/TCP_EP/TPC_EP_008086-006396-009577/build/
/Sem08/VentasWeb/nbproject/private/
/Sem08/VentasWeb/build/
/Sem09/VentasWeb/build/
/Sem09/VentasWeb/nbproject/private/
/Sem09/VentasWeb/dist/
/Sem10/AJAX01/nbproject/private/
/Sem10/AJAX01/build/
/Sem10/ReforzamientoApp/dist/
/Sem11/PromedioAJAX/nbproject/private/
/Sem11/PromedioAJAX/build/
/Sem12/SistVentas/EGCCStore/nbproject/private/
/Sem12/SistVentas/EGCCStore/build/
/Sem12/SistVentas/EGCCStore/dist/
/Sem13/SistVentas/EGCCStore/nbproject/private/
/Sem13/SistVentas/EGCCStore/build/